.flex-container {
    display: flex;
}

.flex-container>div {
    padding: 20px;
    flex-grow: 1;
}

.dotted-line {
    border-top: 1px dashed turquoise;
}

.post-background {
    box-sizing: border-box;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    background-color: turquoise;
}